@import "../node_modules/tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-yellow1: #DDD521;
  --primary-yellow2: #EBE31B;
  --primary-yellow3: #545006;
  --primary-blue: #142037;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-primary {
  background: var(--primary-yellow1);
  color: var(--primary-yellow3);
}

.button-primary:hover {
  background: var(--primary-yellow2);
}
