/* src/widgets/header/ui/Header.module.css */
.header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #142037;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.inner {
    max-width: 80rem; /* 1280px */
    margin: 0 auto;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lc {
    display: flex;
}

.lc>*:not(:last-child) {
    margin-right: 1rem;
}

.nav {
    display: flex;
    margin-right: 12px;
}

.nav a {
    color: #ffffff;
}
.nav a:hover {
    text-decoration: underline;
}
.nav a:not(:last-child) {
    margin-right: 1rem;
}